# File containing all the relevant paths
paths.sh

# Python stuff
env
__pycache__

# Vagrant directory
.vagrant

# IDEs
.vscode/

# Mac
.DS_Store

# Out directories
out
build
log
logs
data
playground
pcaps
profiles

# Draw.io garbage
.$*.bkp
.$*.dtmp

# Latex garbage
eval/*.aux
eval/*.log
eval/*.out
eval/*.fls
eval/*.fdb_latexmk
eval/*.pdf

# In case we mess up
core.*
*-backup

# Barefoot SDE
bf-sde-*
zlog-cfg-cur
*.log*

# Don't upload pcaps and profiles
*.pcap

# Profiling
callgrind.out.*

# Some synthesized files that are just too big
synthesized/*.json
synthesized/*.dot