# File containing all the relevant paths
paths.sh

# Python stuff
env
__pycache__

# Vagrant directory
.vagrant

# IDEs
.vscode/

# Mac
.DS_Store

# Out directories
synthesized
out
build
log

# Draw.io garbage
.$*.bkp
.$*.dtmp

# Latex harbage
*.aux
*.log
*.out
*.fls

# In case we mess up
core.*
