[switch]
model = "AS9516-32D"

########################################################
#                   Front panel ports                  #
########################################################

[[switch.front_panel_ports]]
dev = 0                        # Client device
capacity_bps = 100_000_000_000 # Port capacity: 100G

[[switch.front_panel_ports]]
dev = 1                      # Storage server device
capacity_bps = 1_000_000_000 # Storage server capacity: 1G (bottleneck)

########################################################
#                 Recirculation ports                  #
########################################################

[[switch.recirculation_ports]]
dev = 0
capacity_bps = 125_000_000_000 # 125G

[[switch.recirculation_ports]]
dev = 1
capacity_bps = 125_000_000_000 # 125G

[[switch.recirculation_ports]]
dev = 2
capacity_bps = 125_000_000_000 # 125G

[[switch.recirculation_ports]]
dev = 3
capacity_bps = 125_000_000_000 # 125G

########################################################
#                     Architecture                     #
########################################################

[switch.arch]
name = "Tofino 2"
max_packet_bytes_in_condition = 4
pipes = 4
stages = 20
sram_per_stage = 10485760                       # 128 * 1024 * 80 bits
tcam_per_stage = 540672                         # 44 * 512 * 24 bits
map_ram_per_stage = 6291456                     # 128 * 1024 * 48 bits
max_logical_tcam_tables_per_stage = 8
max_logical_sram_and_tcam_tables_per_stage = 16
phv_size = 5000                                 # bits
phv_8bit_containers = 80
phv_16bit_containers = 120
phv_32bit_containers = 80
packet_buffer_size = 512000000                  # 64e6 * 8 bits
exact_match_xbar_per_stage = 1024               # 128 * 8 bits
max_exact_match_keys = 16
ternary_match_xbar = 528                        # 66 * 8 bits
max_ternary_match_keys = 8
max_salu_size = 32                              # TNA2 actually can supposedly support 64b, but it keeps crashing the compiler...

[controller]
capacity_pps = 100_000 # pps

[x86]
capacity_pps = 120_000_000 # pps
