[switch]
model = "AS9516-32D"

########################################################
#                   Front panel ports                  #
########################################################

[[switch.front_panel_ports]]
vport        = 0               # Storage server NF device
pport        = 1               # Storage server front panel port
pipe         = 1
capacity_bps = 200_000_000_000 # 4x Storage server capacity (bottleneck)

[[switch.front_panel_ports]]
vport        = -1              # Unused port
pport        = 2
pipe         = 1
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 2
pport        = 3
pipe         = 1
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 3
pport        = 4
pipe         = 1
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 4
pport        = 5
pipe         = 1
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 5
pport        = 6
pipe         = 1
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 6
pport        = 7
pipe         = 1
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 7
pport        = 8
pipe         = 1
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 8
pport        = 9
pipe         = 2
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 9
pport        = 10
pipe         = 2
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 10
pport        = 11
pipe         = 2
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 11
pport        = 12
pipe         = 2
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 12
pport        = 13
pipe         = 2
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 13
pport        = 14
pipe         = 2
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 14
pport        = 15
pipe         = 2
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 15
pport        = 16
pipe         = 2
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 16
pport        = 17
pipe         = 3
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 17
pport        = 18
pipe         = 3
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 18
pport        = 19
pipe         = 3
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 19
pport        = 20
pipe         = 3
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 20
pport        = 21
pipe         = 3
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 21
pport        = 22
pipe         = 3
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 22
pport        = 23
pipe         = 3
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 23
pport        = 24
pipe         = 3
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 24
pport        = 25
pipe         = 0
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 25
pport        = 26
pipe         = 0
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 26
pport        = 27
pipe         = 0
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 27
pport        = 28
pipe         = 0
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 28
pport        = 29
pipe         = 0
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 29
pport        = 30
pipe         = 0
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 30
pport        = 31
pipe         = 0
capacity_bps = 100_000_000_000 # 100G

[[switch.front_panel_ports]]
vport        = 31
pport        = 32
pipe         = 0
capacity_bps = 100_000_000_000 # 100G

########################################################
#                 Recirculation ports                  #
########################################################

[[switch.recirculation_ports]]
dev_port     = 6
pipe         = 0
capacity_bps = 125_000_000_000 # 125G

[[switch.recirculation_ports]]
dev_port     = 128
pipe         = 1
capacity_bps = 125_000_000_000 # 125G

[[switch.recirculation_ports]]
dev_port     = 256
pipe         = 2
capacity_bps = 125_000_000_000 # 125G

[[switch.recirculation_ports]]
dev_port     = 384
pipe         = 3
capacity_bps = 125_000_000_000 # 125G

########################################################
#                     Architecture                     #
########################################################

[switch.arch]
name                                       = "Tofino 2"
max_packet_bytes_in_condition              = 4
pipes                                      = 4
stages                                     = 20
sram_per_stage                             = 10485760      # 128 * 1024 * 80 bits
tcam_per_stage                             = 540672        # 44 * 512 * 24 bits
map_ram_per_stage                          = 6291456       # 128 * 1024 * 48 bits
max_logical_tcam_tables_per_stage          = 8
max_logical_sram_and_tcam_tables_per_stage = 16
phv_size                                   = 5000          # bits
phv_8bit_containers                        = 80
phv_16bit_containers                       = 120
phv_32bit_containers                       = 80
packet_buffer_size                         = 512000000     # 64e6 * 8 bits
exact_match_xbar_per_stage                 = 1024          # 128 * 8 bits
max_exact_match_keys                       = 16
ternary_match_xbar                         = 528           # 66 * 8 bits
max_ternary_match_keys                     = 8
max_salu_size                              = 32            # TNA2 actually can supposedly support 64b, but it keeps crashing the compiler...
max_digests                                = 8
min_expiration_time_ms                     = 100
max_capacity_pps                           = 2_250_000_000

[controller]
capacity_pps = 100_000 # pps

[x86]
capacity_pps = 120_000_000 # pps
